*
{
    margin: 0;
    padding: 0;
}
body
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
a
{
    text-decoration: none;
}
.header, .navbar, .main, .footer
{
    padding: 20px;
    text-align: center;
}
.header
{
    background-color: lightblue;
}
.navbar
{
    background-color: lightgreen;
}
.main
{
    background-color: lightcoral;
}
.footer
{
    background-color: lightgray;
}
@media(min-width: 768px)
{
    body
    {
        flex-direction: row;
        font-size: 22px;
    }
    .navbar, .footer
    {
        display: none;
    }
    .main
    {
        flex-grow: 2;
    }
}
@media(min-width: 1024px)
{
    body
    {
        flex-direction: row;
        font-size: 24px;
    }
    .navbar, .footer
    {
        display: block;
        flex: 1;
    }
    .main
    {
        flex-grow: 2;
    }
}